/* importando fonte poppins do google fonts (opição @import) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* container (Geral pagina) */
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 55px; /*eu acho que é o quoão longe as escritas e imagem vai ficar na borda*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}